@font-face {
  font-family: EnterCommand;
  src:
    url("fonts/entercommand.woff2") format("woff2"),
    url("fonts/entercommand.woff") format("woff");
  font-display: swap;
}

body {
  background: #223;
}

.page {
  color: #fff;
  font-family: EnterCommand, monospace;
  line-height: 250%;
}

.page .title {
  display: grid;
  justify-content: center;
}

.title h1 {
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 4px 4px 0 black;
}

.title h1 + span {
  font-size: 2rem;
  color: hotpink;
  justify-self: end;
  display: inline-block;
}

.container {
  display: grid;
  grid-template-columns: 520px 50px 50px;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 30px;
}

.wheel {
  --wheel-size: 500px;
  --shadow-wheel: radial-gradient(transparent 0 30%, #0005 60% 100%);

  width: var(--wheel-size);
  height: var(--wheel-size);
  background:
    var(--shadow-wheel),
    var(--conic-gradient);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 12px solid #fff;
  box-shadow: 4px 4px 20px #000;
  transform: rotateZ(var(--spin));
}

.wheel > div {
  line-height: 40%;
}

.wheel > div span {
  font-size: 0.6em;
  color: gold;
}

.slice {
  --half-size: calc(var(--wheel-size) * 0.5);

  width: var(--half-size);
  height: var(--half-size);
  transform-origin: 50% 100%;
  transform: rotateZ(0deg) translateX(calc(var(--half-size) * 0.5));
}

.text {
  font-family: EnterCommand, monospace;
  font-size: 48px;
  text-shadow: 2px 2px 5px #0009;
  color: #fff;
  position: absolute;
  transform-origin: 50% 50%;
  transform: rotateZ(-90deg) translateX(150px);
}

.text.align {
  width: 30%;
  text-align: right;
}

.center {
  --size: 75px;

  width: var(--size);
  height: var(--size);
  background: repeating-conic-gradient(#dbbd12 5% 12%, yellow 15% 25%, #dbbd12 30%);
  border: 6px solid white;
  border: 5px solid #8f7c12;
  box-shadow: 0 0 20px #0009;
  border-radius: 50%;
}

img.police {
  --size: 95px;

  position: absolute;
  transform: rotateZ(calc(360deg - var(--spin)));
  filter: drop-shadow(0 0 5px #000);
  width: var(--size);
  height: var(--size);
}

.arrow {
  width: 50px;
  height: 50px;
  background: green;
  z-index: 5;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform: translateX(-20px);
}

.options {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.spin-button,
select {
  --gradient-color: linear-gradient(#0863a5, #1283d1);
  --border-color: #0b5a92;

  padding: 5px 8px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  border: 0;
  border-radius: 10px;
  color: #eee;
  min-width: 100px;
  min-height: 40px;
  background: var(--gradient-color);
  box-shadow:
    0 7px 0 var(--border-color),
    0 8px 3px #0000004d;
  transition: all 0.25s;
  text-decoration: none;
}

.spin-button:active:not([disabled]) {
  transform: translateY(4px);
  box-shadow:
    0 3px 0 var(--border-color),
    0 4px 3px #0000004d;
}

option {
  color: black;
}
